:root {
  font-family: var(--font-roboto), sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  var(--font-roboto), sans-serif;
}

html{
  font-size: 80%;
}

body{
  background: #153635;
}