.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    // font-size: 0.875rem;
    color: #15141480;
  }

  .multiple {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: #cfedda;
    border-bottom: 0.15rem solid #71bb90;

    &.selectInput {
      padding: 1rem;

      .options {
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 10;
        width: 100%;
        // padding: 0.5rem;

        span {
          display: block;
          padding: 0.5rem;
          cursor: pointer;
          width: 100%;

          &:hover {
            background: #f0f0f0;
          }
        }
      }
    }

    span {
      display: block;
      color: #153635;
      margin-left: 0.5rem;
    }

    .countryCode {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #153635;
      margin-left: 0.5rem;
      position: relative;
      cursor: pointer;

      div {
        position: absolute;
        left: 0;
        top: 100%;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 10;
        width: 6rem;

        span {
          display: block;
          padding: 0.5rem;
          cursor: pointer;
          &:hover {
            background: #f0f0f0;
          }
        }
      }
    }

    input {
      background: unset;
      border: unset;
      width: 100%;
      display: block;
      padding: 1rem 0;
    }
  }

  &.phone {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  //   &.select {
  //     display: flex;
  //     justify-content: space-between;
  //     gap: 1rem;
  //     padding: 1rem;
  //   }

  input {
    background: #cfedda;
    border-bottom: 0.15rem solid #71bb90;
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;

    &::placeholder {
      color: #71bb90;
    }

    // &:focus {
    //   outline: none;
    //   border-color: #0070f3;
    //   box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
    // }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    border: 0.15rem solid #153635;
    cursor: pointer;
    position: relative;
    // background: #fff;
    transition: all 0.2s ease;

    &:hover {
      border-color: #5a9973;
    }

    &:checked {
      background: #153635;
      // border-color: #71bb90;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 0.25rem;
        height: 0.5rem;
        border: solid #fff;
        border-width: 0 0.15rem 0.15rem 0;
      }
    }

    &:focus {
      outline: none;
      // box-shadow: 0 0 0 0.2rem rgba(113, 187, 144, 0.2);
    }
  }

  label {
    color: #153635;
    cursor: pointer;
  }
}
